html {
    font-family: 'Jost', sans-serif;
}
body {
    margin: 0;
}
section {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    border-bottom: 4px solid black;
    color: maroon;
    margin: 0 0 1rem 0;
}
p {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: maroon;
    padding: 0.5rem;
    color: white;
    border-radius: 25px;
}
input {
    font: inherit;
    border: 1px solid #ccc;
}
.Hello img {
    max-width: 20%;
    height:auto;
    background-color: black;
}